.title {
	text-align: center;
	padding: 8px;
  margin: 0;
	border-radius: 8px;
	font-size: 46px;
	font-weight: 700;


}

ul#page-numbers {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 20px 0;
}

ul#page-numbers li {
  margin: 0 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

ul#page-numbers li.active {
  background-color: #007bff;
  color: #fff;
}




